#login{
  background-color: #ffa100;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  border: none;
  height: 50px;
  line-height: 40px;
  font-weight: bold;
}

.fa-sign-in{
  color:#f25950;
}
